.body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  font-family: 'HelveticaNeue-Light';
}

header {
  position: absolute;
  top: 2vh;
  left: 2vw;
  font-size: 36px;
  font-weight: bolder;
}

.answer {
  margin: 4vh auto;
  width: 80%;
  padding: 8vh;
  font-size: 24px;
  text-align: center;
  align-items: flex-start;
  align-content: space-around;
  background-color: #f1c40f;
}
